html {
	height: 100%;
}

body {
    background-image: linear-gradient(to bottom right, #7C07F2, #5107F2);
}

#loginForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 300px;
    height: 300px;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 10px 10px #2F0459;
    font-weight: bold;
}

#loginForm h1 {
    color: #5107F2;
    text-shadow: 3px 3px 10px #D6F204;
    margin: 30px 0;
    font-size: 40px;
    font-weight: bolder;
}

#loginForm table {
    margin: 30px auto;
    color: #5107F2;
    font-weight: bold;
    font-size: 25px;
}

#loginForm table label {
    font-size: 25px;
    margin: 10px;
}

#loginForm table input {
    border: none;
    border-radius: 5px;
    background-color: #5107F2;
    color: #D6F204;
    font-size: 22px;
    height: 25px;
    padding: 2px;
    width: 200px;
    transition: background-color 0.5s, color 0.5s;
}

#loginForm table input:focus {
    background-color: #D6F204;
    color: #5107F2;
}

#loginForm a {
    padding: 10px 20px;
    font-size: 23px;
    color: #5107F2;
    font-weight: bold;
    border-radius: 5px;
    background-image: linear-gradient(to right, #22D8B7, #D6F204);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
}

#loginForm a:hover {
    background-size: 100% 88%;
}

#loginForm div {
    margin: 10px;
    padding: 2px 5px;
    color: #5107F2;
    text-shadow: 2px 2px 5px #D6F204;
}