* {
    margin: 0;
    padding: 0;
}
#menu {
    background-color: #5C12A6;
    height: 70px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
}
#menu>div {
    margin: 0 auto;
    height: 100%;
    width: 60%;
    position: relative;
}

#menu>div>a {
    color: white;
    margin: 25px 15px;
    float: right;
    text-decoration: none;
    font-family: 'Black Han Sans', sans-serif;
    transition: text-shadow 0.5s;
}

#menu>div>a:hover {
    color: #2F0459;
    text-shadow: 3px 3px #F2E205;
}

#logo {
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 80px;
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #2F0459;
    text-shadow: 3px 3px #F2E205;
    transition: text-shadow 0.5s, color 0.5s;
}

#logo:hover {
    color: white;
    text-shadow: 3px 3px #D98E04;
}

#menu_user {
    font-family: 'Song Myung', serif;
    font-weight: bold;
    display: table;
    float: right;
}

#menu_user>img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: table-cell;
    vertical-align: middle;
    margin-right: 10px;
}

#menu_user>span {
    display: table-cell;
    vertical-align: middle;
    color: white;
    margin: 0;
}

#userInfo {
    display: inline-block;
    float: right;
    margin-top: 17px;
    list-style-type: none;
    position: relative;
}

#userInfo ul{
    background: #22D8B7;
    height: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    transition: all .5s ease;
    top: 35px;
    list-style-type: none;
}

#userInfo li:hover ul {
    height: 200px;
    opacity: 1;
    transform: translateX(0);
    z-index: 9999;
}

#userInfo ul a {
    color: #2F0459;
    display: block;
    padding: 5px 20px;
}

#search {
    display: inline-block;
    height: 40px;
    margin: 15px;
    width: 45%;
    position: absolute;
    left: 70px;
}

.search {
    float: left;
    height: 100%;
    border: none;
    box-sizing: border-box;
}

select.search {
    width: 20%;
    background-color: #F2E205;
}

input.search {
    size: 30px;
    padding: 0 10px;
    width: 60%;
}

button.search {
    background-image: url('${pageContext.request.contextPath}/resources/img/telescope.png');
    width: 20%;
}