html {
    height: 100%;
}

body {
    background-image: linear-gradient(to bottom right, #7C07F2, #5107F2);
}

#memberView {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 350px;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 10px 10px #2F0459;
    font-weight: bold;
}

#memberView h1 {
    color: #5107F2;
    text-shadow: 3px 3px 10px #22D8B7;
    margin: 30px 0;
    font-size: 40px;
    font-weight: bolder;
}

#memberView table {
    color: #5107F2;
    width: 300px;
    font-size: 15px;
    margin: 20px auto;
}

#memberView table tr td:first-child {
    width: 150px;
    text-align: right;
    padding: 5px;
}

#memberView table tr td[colspan="2"] {
    text-align: center;
}
#memberView table tr td[colspan="2"] a {
    line-height: 60px;
}

#memberView table tr td input {
    border: none;
    border-radius: 5px;
    height: 25px;
    font-size: 20px;
    background-color: #5107F2;
    color: #22D8B7;
    padding: 2px;
    width: 200px;
    transition: background-color 0.5s, color 0.5s;
}

#memberView table tr td input:hover {
    background-color: #22D8B7;
    color: #5107F2;
}

#memberView a {
    padding: 10px 20px;
    font-size: 23px;
    color: #5107F2;
    font-weight: bold;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
    margin: 10px 0;
}

#memberView a:nth-child(1) {
    background-image: linear-gradient(to right, #22D8B7, #D6F204);
    font-size: 18px;
}

#memberView a:nth-child(2) {
    background-image: linear-gradient(to right, #AB04F2, #D6F204);
}

#memberView a:hover {
    background-size: 100% 88%;
}
