.popup {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    visibility: hidden;
    transform: scale(1.1); 
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.popupItem {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 60%;
}

.close-button { 
    float: right; 
    width: 1.5rem; 
    line-height: 1.5rem; 
    text-align: center; 
    cursor: pointer; 
    border-radius: 0.25rem; 
    background-color: lightgray; 
} 

.close-button:hover { 
    background-color: darkgray; 
}

.popupShow { 
    opacity: 1; 
    visibility: visible; 
    transform: scale(1.0); 
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s; 
} 

#insertBoard input, #insertBoard textarea {
    border: none;
    padding: 10px;
    background-color: #EEEEEE;
}

#insertBoard input[name='title'] {
    height: 30px;
    font-size: 25px;
    font-weight: bold;
    width: 70%;
    display: block;
    margin-bottom: 10px;
}

#insertBoard textarea[name='content'] {
    width: 80%;
    display: block;
    font-size: 20px;
    margin: 10px 0;
    resize: none;
}

#insertBoard input[type='button'] {
    width: 100%;
    background-color: #5C12A6;
    color: white;
    font-size: 17px;
}